
<!DOCTYPE HTML>
<html>
<head>
<title>YoYoTube</title>
<link href="../static/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../static/web/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/web/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../static/web/js/login.js"></script>
<script src="../static/web/js/jquery.easydropdown.js"></script>
<script src="../static/web/js/wow.min.js"></script>
<link href="../static/web/css/animate.css" rel='stylesheet' type='text/css' />
<!--Dependencies for modal maybe ???-->

<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/font-awesome.min.css" rel = "stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="../css/mystyles.css" rel="stylesheet">
    <link rel="../stylesheet" href="static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/AdminLTE/css/AdminLTE.min.css">
  <link rel="stylesheet" href="static/AdminLTE/css/skins/_all-skins.min.css">
  <script src="../static/bootstrap/js/jquery.min.js"></script>
  <script src="../static/bootstrap/js/jquery-ui.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
<style type="text/css">
   #menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
   }
   #menu li {
  display: inline-block;
   }
</style>

<script>
	new WOW().init();
</script>
</head>
<body>
<div class="header">
		   <div class="col-sm-8 header-left">
					 <div class="logo">
						<a href="/home"><img src="../static/web/images/logo.png" alt=""/></a>
					 </div>

            <h2 style="color:#E94E38">
            <b><i>One place to find them all......</i></b>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <i class="fa fa-microphone" aria-hidden="true"></i>
            <i class="fa fa-camera" aria-hidden="true"></i>
            </h2>

						<!--search-scripts-->
						<script src="../static/web/js/classie.js"></script>
						<script src="../static/web/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!--//search-scripts-->						
	    		    <div class="clearfix"></div>
	    	    </div>
	    	    <!--Login Pop Up-->
	            <div class="col-sm-2 header_right">
	    		      <div class="loginContainer"><a href="#" class="loginButton loginButton2"><img src="../static/web/images/login.png"><span>Login</span></a>
						    <div class="loginBox loginBox2">                
						        <form class="loginForm loginForm2" role="form" action="/auth" method="post">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="email">Username</label>
						                          <input type="username" name="username" id="username" placeholder="Tom" required>
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">Password</label>
						                            <input type="password" name="password" id="password" placeholder="xxyyzz" required>
						                     </fieldset>
						                    <input type="submit" id="login" value="Sign in">
						                	<!-- <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label> -->
						            	</fieldset>
						                 <!-- <span><a href="#">Forgot your password?</a></span> -->
							      </form>
				              </div>
			             </div>
		                 <div class="clearfix"></div>
	                 </div>
	                 <!--Sign up pop up-->
	            <div class="col-sm-2 header_right">
	    		      <div class="loginContainer"><a href="#" class="loginButton loginButton1"><img src="../static/web/images/login.png"><span>SignUp</span></a>
						    <div class="loginBox loginBox1">                
						        <form class="loginForm loginForm1" role="form" action="/register" method="post">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="email">Choose a username</label>
						                          <input type="username" name="username" id="username" placeholder="Tommy" required>
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">Set Password</label>
						                            <input type="password" name="password" id="password" placeholder="xxyyzz" required>
						                     </fieldset>
						                    <input type="submit" id="login" value="Join Us">
						                	<!-- <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label> -->
						            	</fieldset>
						                 <!-- <span><a href="#">Forgot your password?</a></span> -->
							    </form>
				              </div>
			             </div>
		                 <div class="clearfix"></div>
	                 </div>
	                <div class="clearfix"></div>
    </div>

    <!--header ends here ^-->

    <div class="banner" >
   	  <div class="container_wrap">
   		<h1>What are you looking for?</h1>
   	       

		    <form action="http://localhost:5000/search" method="post">
				<input type="text" name="nm" placeholder="waiting..." value="start typing here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'start typing here...';}">
			    <div class="contact_btn">
	               <label class="btn1 btn-2 btn-2g">
	              	<input name="submit" type="submit" id="submit" value="Find Videos !!!">
	               </label>
	            </div>
			</form> 

<!--Deleted scenes-->
   		    <div class="clearfix"></div>
         </div>
    </div>
      
      <!--The top menu above videos-->
      <div class="content_top">
          <div class="container">
              <div class="col-md-6 bottom_nav" style="padding-right: 5px">
                <div class="content_menu">
                  <ul>
                  <h4>
                    
                    <li class="active"><a href="/trend"><i class="fa fa-fire" aria-hidden="true" style="color: black"></i> Trending</a></li> 
                    <li class="active"><a href="/fav"><i class="fa fa-gratipay" aria-hidden="true" style="color: black"></i>
 Favourite</a></li> 
                    <li class="active"><a href="/clicks"><i class="fa fa-history" aria-hidden="true" style="color: black"></i>
 History</a></li>
                    <li class="active"><a href="/sports"><i class="fa fa-futbol-o" aria-hidden="true" style="color: black"></i>
 Sports</a></li> 
                    <li class="active"><a href="/news"><i class="fa fa-newspaper-o" aria-hidden="true" style="color: black"></i>
 News</a></li> 
                    
                  </h4> 
                  </ul>
               </div>
              </div>
              <div class="col-md-6 bottom_nav">
                <div class="content_menu">
                  <ul>
                  <h3>
                    <li class="active"><a href="#">Showing results for: <b><i> {{answer}} </i> </b></a></li>
                    </h3> 
                  </ul>
                </div>
              </div>
          </div>  
      </div>       

<!--Start editing here-->
{% if videoid %}
<div class="content_middle">
  <div class="container">
    <div class="content_middle_box">
      <div class="top_grid">   
         <iframe width="1150" height="600"
                  src="https://www.youtube.com/embed/{{videoid.videoInfo.id}}">
         </iframe> 
      </div>
      <div class="inner_wrap">
          <h2><b> {{ videoid.videoInfo.snippet.title }} </b></h2>
          <h2>
            <ul class="star1" id="menu">
                    <h4 class="blue"> Uploaded on : {{ videoid.videoInfo.snippet.publishedAt }} </h4>
                    <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.likeCount }} 
                     </li>
                    <li>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.dislikeCount }} 
                    </li>
                    <li>
                       <i class="fa fa-comment" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.commentCount }}
                    </li>
                    <li>
                     <i class="fa fa-eye" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.viewCount }}
                    </li>
                    <li>
                     <i class="fa fa-star" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.favoriteCount }}
                    </li>
                  </ul>
          </h2>
      </div>    
    </div>
  </div>
</div>
{%endif%}
   
<!--Middle portion-->
   <div class="content_middle">
   	  <div class="container" style="background-color: #E94E38">
   	    <div class="content_middle_box">
          <div class="top_grid">
        

               {% if name %}
               {% for obj in name %}
               <div class="col-md-3" >
               <div class="grid1">
                  <div class="view view-first">
                  <div class="index_img2"><img src= {{obj.videoInfo.snippet.thumbnails.high.url}} class="img-responsive" alt=""  style="width:260px;height:180px;" /></div>
                    <div class="mask">
                        <div class="info"><i class="search"> </i>
                           <a href="#" data-toggle="modal" data-target="#desc"> Show More</a>
                        </div>
                         <ul class="mask_img">
                        </ul> 
                      </div>
                  </div> 
               <div class="inner_wrap">
                  <h3><a href=http://localhost:5000/video/{{obj.videoInfo.id}}> {{ obj.videoInfo.snippet.title }} </a></h3>
                  <ul class="star1" id="menu">
                    <h4 class="blue">Statistics</h4>
                    <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.likeCount }} 
                     </li>
                    <li>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.dislikeCount }} 
                    </li>
                    <li>
                       <i class="fa fa-comment" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.commentCount }}
                    </li>
                    <li>
                     <i class="fa fa-eye" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.viewCount }}
                    </li>
                    <li>
                     <i class="fa fa-star" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.favoriteCount }}
                    </li>
                  </ul>
                </div>
               </div>
               </div>

            <!--Modal body-->
         <div id="desc" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">   
                <div class="modal-header">
                    <h2><center>Detailed Description</center></h2>
                </div>
                    <div class="modal-body">
                            <div class="col-sm-12">
                                <p> {{ obj.videoInfo.snippet.localized.description }} </p>
                            </div>              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg pull-left" data-dismiss="modal">Cancel</button>
                    </div>
            

            </div>
         </div>
       </div>
       {% if loop.index0 % 4 == 3 %}
       <!--Use this to break line-->
       <div class="clearfix"></div>
            </div>
            {% endif %}
       {% endfor %}
       {% endif %}


   			<!-- <div class="col-md-3">
   			  <div class="grid1">
   				<div class="view view-first">
                  <div class="index_img2"><img src="../static/web/images/pic2.jpg" class="img-responsive" alt=""/></div>
   				     <div class="mask">
                        <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                        	<li class="star"><img src="../static/web/images/star.png" alt=""/></li>
                        	<li class="set"><img src="../static/web/images/set.png" alt=""/></li>
                        	<div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home2"> </i>
   				 <div class="inner_wrap">
   				 	<h3>2 bedroom house for rent in Dubai</h3>
   				 	<ul class="star1">
   				 	  <h4 class="blue">Vision Agency</h4>
   				 	  <li><a href="#"> <img src="../static/web/images/star2.png" alt="">(136)</a></li>
   				 	</ul>
   				 </div>
   			   </div>
   			</div> -->


   			
   		
   			<div class="clearfix"></div>
   			</div>
   		  </div>
   		  <div class="offering">
   		  	  <h2>What can YoYoTube offer you ?</h2>
   		  	  <h3>Brief summary of features in the project:</h3>
   		  	  <ul class="icons wow fadeInUp" data-wow-delay="0.4s">
   		  	  	 <li><i class="icon1"> </i><span class="one"> </span></li>
   		  	  	 <li><i class="icon2"> </i><span class="two"> </span></li>
   		  	  	 <li><i class="icon3"> </i><span class="three"> </span></li>
   		  	  	 <li><i class="icon4"> </i><span class="four"> </span></li>
   		  	  	 <li><i class="icon5"> </i></li>
   		  	  </ul>
   		  	  <div class="real">
   		  	  	<h4>Reality</h4>
   		  	  	<div class="col-sm-6">
   		  	  	  <ul class="service_grid">
   	   				<i class="s1"> </i>
   	   				 <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
   	   				   <p>Some nice things about the project</p>
   	   				 </li>
   	   				 <div class="clearfix"> </div>
   	   			   </ul>
   	   			 </div>
   	   			 <div class="col-sm-6">
   		  	  	  <ul class="service_grid">
   	   				<i class="s2"> </i>
   	   				 <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
   	   				   <p>Some NICER things about the project</p>
   	   				 </li>
   	   				 <div class="clearfix"> </div>
   	   			   </ul>
   	   			 </div>
   	   			 <div class="clearfix"> </div>
   	   			 </div>
   		  	  </div>
   		  </div>
   	  </div>


   <div class="living_bottom">
   	  <div class="container">
   	  	<h2 class="title block-title">Latest Posts</h2>
   	  	<div class="col-md-6 post_left wow fadeInLeft" data-wow-delay="0.4s">
   	  		<div class="mask1"><img src="images/pic4.jpg" alt="image" class="img-responsive zoom-img" /></div>
   	  	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis. Cras eu nibh dapibus justo fringilla   <a href="#">More</a></p>
   	  	    <div class="divider"></div>
   	  	    <p class="field-content">30 Sep 2014</span></p>
   	  	</div>
   	  	<div class="col-md-6 post_left wow fadeInRight" data-wow-delay="0.4s">
   	  		<div class="mask1"><img src="images/pic5.jpg" alt="image" class="img-responsive zoom-img" /></div>
   	  	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis. Cras eu nibh dapibus justo fringilla   <a href="#">More</a></p>
   	  	    <div class="divider"></div>
   	  	    <p class="field-content">30 Sep 2014</span></p>
   	  	</div>
   	  </div>
   </div>



   <div class="footer">
   	<div class="container">

<!--    	 <div class="footer_top">
   	   <h3>Subscribe to our newsletter</h3>
   	   <form>
		<span>
			<i><img src="images/mail.png" alt=""></i>
		    <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
		    <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
		    <div class="clearfix"> </div>
		</span>			 	    
	   </form>
	  </div> -->

	  <div class="footer_grids">
	     <div class="footer-grid">
			<h4>Made by:</h4>
			<ul class="list1">
				<li><a href="https://www.facebook.com/rajan.garg.14">Rajan Garg</a></li>
				<li><a href="https://www.facebook.com/Rajshekhar1332">Raj Shekhar</a></li>
				<li><a href="https://www.facebook.com/RiiitviiikRAWat">Ritvik Rawat</a></li>
				<li><a href="#">Chinangshuk Roy</a></li>
			</ul>
		  </div>
		  
		  <div class="footer-grid last_grid">
			<h4>Follow Us</h4>
			<ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
			  <li><a href=""> <i class="fb"> </i> </a></li>
			  <li><a href=""><i class="tw"> </i> </a></li>
			  <li><a href=""><i class="google"> </i> </a></li>
			  <li><a href=""><i class="u_tube"> </i> </a></li>
		 	</ul>
		 	
		  </div>
		  <div class="clearfix"> </div>
	   </div>
      </div>
   </div>
</body>
</html>		

<!-- 

   <td bgcolor="#eee" width="75%" height="600">
        {% if videoid %}
         <img src= {{videoid.videoInfo.snippet.thumbnails.high.url}} style="width:1200px;height:600px;">
         {%endif%}   
   </td>


   -->