
<!DOCTYPE HTML>
<html>
<head>
<title>YoYoTube</title>
<link href="../static/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../static/web/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/web/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../static/web/js/login.js"></script>
<script src="../static/web/js/jquery.easydropdown.js"></script>
<script src="../static/web/js/wow.min.js"></script>
<link href="../static/web/css/animate.css" rel='stylesheet' type='text/css' />

<!--Auto complete-->
<script> type="text/javascript" src="../static/autoc/3.js"</script>
<script> type="text/javascript" src="../static/autoc/4.js"</script>
<link href="../static/autoc/jquery-ui.css" rel='stylesheet' type='text/css' />

<!--Dependencies for modal maybe ???-->

<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/font-awesome.min.css" rel = "stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="../css/mystyles.css" rel="stylesheet">
    <link rel="../stylesheet" href="static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/AdminLTE/css/AdminLTE.min.css">
  <link rel="stylesheet" href="static/AdminLTE/css/skins/_all-skins.min.css">
  <script src="../static/bootstrap/js/jquery.min.js"></script>
  <script src="../static/bootstrap/js/jquery-ui.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
<style type="text/css">
   #menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
   }
   #menu li {
  display: inline-block;
   }
</style>

<script>
	new WOW().init();
</script>

<!--Auto complete script-->
<script>
  $( function() {
    var availableTags = [
      "1000-rupees" , 
"1080p" , 
"aadhaar" , 
"aiboc" , 
"aiims" , 
"aradhana" , 
"attack" , 
"aabar" , 
"aachhi" , 
"aagdom" , 
"aaghat" , 
"aagun" , 
"aamaar" , 
"aamar" , 
"aamay" , 
"aanko" , 
"aarti" , 
"aasan" , 
"aasare" , 
"aashini" , 
"aashiqui" , 
"aashroy" , 
"abchha" , 
"abduction" , 
"abductors" , 
"abhijit" , 
"abhishek" , 
"accepted" , 
"acharya" , 
"achchha" , 
"acoustic" , 
"action" , 
"actor" , 
"actors" , 
"adalat" , 
"addata" , 
"adesh" , 
"adnan" , 
"agantuk" , 
"agency" , 
"agenda" , 
"airport" , 
"akash" , 
"akashe" , 
"akasher" , 
"akhane" , 
"akhno" , 
"akhnoor" , 
"akshay" , 
"al-hanif" , 
"album" , 
"aloye" , 
"alpana" , 
"amader" , 
"amake" , 
"amare" , 
"amarinder" , 
"amazing" , 
"ambit" , 
"american" , 
"ammer" , 
"analysis" , 
"anand" , 
"anindya" , 
"anisha" , 
"anjan" , 
"anjana" , 
"ankhi" , 
"ankhipatay" , 
"ankush" , 
"announcement" , 
"ansuman" , 
"antara" , 
"antasheela" , 
"antony" , 
"anugatojane" , 
"anuradha" , 
"anutap" , 
"apronoy" , 
"arati" , 
"arifin" , 
"arijit" , 
"arshi" , 
"artist" , 
"artistes" , 
"arvind" , 
"ashar" , 
"ashwini" , 
"asilen" , 
"assam" , 
"assembly" , 
"astarage" , 
"atanu" , 
"attack" , 
"attacked" , 
"attacking" , 
"attacks" , 
"attim" , 
"audio" , 
"aunindyo" , 
"author" , 
"awara" , 
"award" , 
"azhar" , 
"bangla" , 
"brishty" , 
"bachhar" , 
"backstage" , 
"badal" , 
"badtameez" , 
"bagchi" , 
"bagdom" , 
"bahudore" , 
"bairagi" , 
"baishakhe" , 
"baiya" , 
"bajjati" , 
"bakulgandhe" , 
"bakum" , 
"balidaan" , 
"balukabelay" , 
"bande" , 
"bandhiyachhi" , 
"bandona" , 
"banerjee" , 
"bangla" , 
"bangladesh" , 
"bangladeshi" , 
"banglar" , 
"banikng" , 
"banka" , 
"banking" , 
"banks" , 
"banned" , 
"bannerji" , 
"banshi" , 
"bappi" , 
"barabanki" , 
"barasha" , 
"bareli" , 
"barhi" , 
"barkha" , 
"barosha" , 
"basanta" , 
"bashi" , 
"bastar" , 
"batas" , 
"beethoven" , 
"begum" , 
"belay" , 
"bengal" , 
"bengali" , 
"bengaluru" , 
"bhabna" , 
"bhabo" , 
"bhagat" , 
"bhagwan" , 
"bhagwati" , 
"bhajan" , 
"bhajo" , 
"bhakti" , 
"bhalo" , 
"bhalobasar" , 
"bhalobasina" , 
"bhalobese" , 
"bhalobesechi" , 
"bhangar" , 
"bharane" , 
"bharatlakshmi" , 
"bhari" , 
"bhattacharya" , 
"bhavaiya" , 
"bhawaiya" , 
"bhijiye" , 
"bhikhari" , 
"bhirlo" , 
"bhishan" , 
"bholabo" , 
"bhora" , 
"bhosle" , 
"bhramar" , 
"bhuban" , 
"bhule" , 
"bhusan" , 
"bidrohi" , 
"bijli" , 
"bilambita" , 
"bilap" , 
"biometric" , 
"bipulo" , 
"birsa" , 
"biyer" , 
"black" , 
"boatman" , 
"bobby" , 
"boishakh" , 
"bojhabo" , 
"bojho" , 
"bolbo" , 
"bolchhe" , 
"bolchi" , 
"boleche" , 
"bolei" , 
"bollo" , 
"bollywood" , 
"bolte" , 
"bondhu" , 
"bongo" , 
"bookmychotu" , 
"bookmychotu.com" , 
"boral" , 
"border" , 
"breathe" , 
"briddhashram" , 
"brigade" , 
"brishti" , 
"bristi" , 
"bujhi" , 
"bujhini" , 
"bureau" , 
"burman" , 
"cactus" , 
"calcutta" , 
"canonical" , 
"capital" , 
"centre" , 
"chaddha" , 
"chado" , 
"chaitali" , 
"chakraborty" , 
"chakravarty" , 
"chalo" , 
"chalona" , 
"chamatkar" , 
"champaker" , 
"chanchala" , 
"chand" , 
"chanda" , 
"chandana" , 
"chande" , 
"chandini" , 
"chandiyal" , 
"chandra" , 
"chandramallika" , 
"channel" , 
"chants" , 
"chaoya" , 
"character" , 
"charano" , 
"chashma" , 
"chatterjee" , 
"chattopadhyay" , 
"chaudhary" , 
"chaudhuri" , 
"chennai" , 
"chetan" , 
"cheye" , 
"cheyechhe" , 
"cheyechhi" , 
"chhadna" , 
"chhattisgarh" , 
"chhere" , 
"chherona" , 
"chhilam" , 
"chhilo" , 
"chhoto" , 
"chhotto" , 
"chidambaram" , 
"chief" , 
"child" , 
"china" , 
"chirodiner" , 
"chirodini" , 
"chirotikta" , 
"choir" , 
"choker" , 
"chokh" , 
"chokhe" , 
"chokher" , 
"chole" , 
"cholte" , 
"chowa" , 
"chowdhary" , 
"chowdhury" , 
"christine" , 
"chumki" , 
"cinema" , 
"cinemar" , 
"city/town/village" , 
"classic" , 
"clean" , 
"coffee" , 
"collection" , 
"colonel" , 
"comedian" , 
"comedy" , 
"commando" , 
"commandos" , 
"commission" , 
"composer" , 
"composition" , 
"confederation" , 
"conference" , 
"congress" , 
"consolation" , 
"control" , 
"cooperative" , 
"cosmic" , 
"council" , 
"counter" , 
"country" , 
"court" , 
"cricket" , 
"crunch" , 
"currency" , 
"dabiq" , 
"dadar" , 
"daily" , 
"dakchhe" , 
"dalaal" , 
"dance" , 
"daniel" , 
"danny" , 
"dantabiheen" , 
"darza" , 
"dasgupta" , 
"dawood" , 
"dayal" , 
"debashis" , 
"debashree" , 
"debate" , 
"december" , 
"deewana" , 
"deewani" , 
"defence" , 
"dekechhe" , 
"dekha" , 
"dekhechhi" , 
"dekhi" , 
"dekho" , 
"dekhum" , 
"delhi" , 
"demolition" , 
"demonatization" , 
"demonetisation" , 
"demonetised" , 
"demonetization" , 
"demontisation" , 
"deposit" , 
"deshe" , 
"devotional" , 
"dhanyi" , 
"dhare" , 
"dharite" , 
"dhawan" , 
"dhina" , 
"dhire" , 
"dhori" , 
"dhrubatara" , 
"dialogues" , 
"dighar" , 
"digital" , 
"digitisation" , 
"digitization" , 
"dilip" , 
"dinabandhu" , 
"dingulo" , 
"dipanwita" , 
"director" , 
"directorate" , 
"divine" , 
"dobar" , 
"doorer" , 
"doval" , 
"drishtite" , 
"driver" , 
"duets" , 
"dujanay" , 
"dukhha" , 
"duluni" , 
"durga" , 
"dutta" , 
"dwijen" , 
"e-cash" , 
"e-wallets" , 
"eagle" , 
"ebhabe" , 
"economy" , 
"effects" , 
"ekbar" , 
"ekbari" , 
"ekdin" , 
"eksho" , 
"ektuku" , 
"ekush" , 
"elections" , 
"emergency" , 
"emotional" , 
"english" , 
"esechhi" , 
"esechhilo" , 
"esona" , 
"ethnicity" , 
"even-odd" , 
"evergreen" , 
"evergreens" , 
"exclusive" , 
"exercise" , 
"eye-witness" , 
"ficci" , 
"factory" , 
"facts" , 
"faisal" , 
"fakir" , 
"faria" , 
"farmers" , 
"fateh" , 
"fictional" , 
"fight" , 
"films" , 
"finance" , 
"firingee" , 
"firoza" , 
"folks" , 
"footage" , 
"force" , 
"formula" , 
"funds" , 
"gaane" , 
"gaaner" , 
"gabhir" , 
"gabriel" , 
"gachhe" , 
"gachher" , 
"gadkari" , 
"gagari" , 
"gandhi" , 
"ganga" , 
"ganger" , 
"gangster" , 
"gannguli" , 
"garden" , 
"gardens" , 
"gaurab" , 
"gauriprasanna" , 
"gechhi" , 
"geeta" , 
"geeti" , 
"geetimoy" , 
"gelam" , 
"general" , 
"genre" , 
"georg" , 
"getta" , 
"gharkhanay" , 
"ghatak" , 
"ghoradom" , 
"ghore" , 
"ghosh" , 
"ghoshal" , 
"ghure" , 
"giant" , 
"goalparia" , 
"google" , 
"gopal" , 
"gostho" , 
"gourchand" , 
"government" , 
"graher" , 
"greatest" , 
"grihatyagi" , 
"group" , 
"growth" , 
"gubbi" , 
"guitar" , 
"gujarat" , 
"gupta" , 
"gurdaspur" , 
"gursewak" , 
"gurudev" , 
"gustav" , 
"gyalo" , 
"hemanta" , 
"holud" , 
"haate" , 
"hafiz" , 
"hallozen" , 
"halud" , 
"hamanta" , 
"haqiqat" , 
"harabo" , 
"harano" , 
"harate" , 
"harvinder" , 
"hathaat" , 
"hatti" , 
"hattim" , 
"hawala" , 
"hazarat" , 
"hazari" , 
"hazra" , 
"headlines" , 
"hemanta" , 
"hemendra" , 
"herald" , 
"high-value" , 
"highway" , 
"hnushiar" , 
"hoarders" , 
"hobuchandra" , 
"holiday" , 
"hospital" , 
"hotel" , 
"houser" , 
"hoyechhilo" , 
"hoyto" , 
"hriday" , 
"hridaye" , 
"human" , 
"humlog" , 
"hymns" , 
"imran" , 
"ibrahim" , 
"ilish" , 
"imran" , 
"income" , 
"indelible" , 
"independence" , 
"india" , 
"india's" , 
"india-pakistan" , 
"indian" , 
"indiatoday" , 
"indira" , 
"indradhanu" , 
"indrani" , 
"industries" , 
"intelligence" , 
"interview" , 
"interviews" , 
"intrinz" , 
"investigation" , 
"ishani" , 
"islam" , 
"janani" , 
"joware" , 
"jaaneman" , 
"jabar" , 
"jaganmoy" , 
"jagdish" , 
"jagniwas" , 
"jaish-e-mohammad" , 
"jaish-e-mohammed" , 
"jaitley" , 
"jakhan" , 
"jamini" , 
"jammu" , 
"janala" , 
"janam" , 
"janardhana" , 
"janina" , 
"jantam" , 
"japan" , 
"jatek" , 
"jater" , 
"jaunpur" , 
"jawaani" , 
"jawab" , 
"jawans" , 
"jayalalithaa" , 
"jayati" , 
"jedin" , 
"jeevan" , 
"jhalmal" , 
"jhank" , 
"jharena" , 
"jharer" , 
"jhenpe" , 
"jhikimiki" , 
"jhinuk" , 
"jhola" , 
"jiban" , 
"jibane" , 
"jibon" , 
"jihad" , 
"jirna" , 
"jochhonay" , 
"jogmaya" , 
"johar" , 
"joint" , 
"jokes" , 
"jolly" , 
"jonyo" , 
"jouboner" , 
"journalist" , 
"jukebox" , 
"jukto" , 
"juthika" , 
"jwala" , 
"jwalate" , 
"jwale" , 
"jwele" , 
"kashmir" , 
"kaali" , 
"kabir" , 
"kache" , 
"kachhe" , 
"kadambini" , 
"kagoje" , 
"kahare" , 
"kajal" , 
"kakhan" , 
"kakhono" , 
"kalikesh" , 
"kalpana" , 
"kandari" , 
"kande" , 
"kanika" , 
"kanpur" , 
"kanta" , 
"kapoor" , 
"karan" , 
"karkash" , 
"karli" , 
"karnataka" , 
"karol" , 
"kashmir" , 
"kasta" , 
"kasto" , 
"katha" , 
"kathay" , 
"katodin" , 
"katona" , 
"kaulitz" , 
"kavita" , 
"kejriwal" , 
"kemon" , 
"kerala" , 
"khabarein" , 
"khame" , 
"khawaja" , 
"khela" , 
"khnoje" , 
"khola" , 
"khonje" , 
"khuku" , 
"khulya" , 
"khunje" , 
"khunji" , 
"khushi" , 
"khyapa" , 
"kichhu" , 
"kichhui" , 
"kinchho" , 
"kiran" , 
"kirti" , 
"kishor" , 
"kishore" , 
"kohibo" , 
"kohlian" , 
"kolir" , 
"kolkata" , 
"korche" , 
"korechhe" , 
"korechho" , 
"korilo" , 
"kotha" , 
"kothai" , 
"kripa" , 
"krishna" , 
"krishnakali" , 
"krishnamurthy" , 
"kshama" , 
"kshep" , 
"kuler" , 
"kumar" , 
"kumir" , 
"kuntalini" , 
"kupwara" , 
"kurai" , 
"laagchhe" , 
"labourers" , 
"lahiri" , 
"laila" , 
"lalan" , 
"lalchand" , 
"lalite" , 
"langate" , 
"language" , 
"latest" , 
"lekho" , 
"lieutenant" , 
"likhi" , 
"lipika" , 
"literature" , 
"local" , 
"lokgeet" , 
"lokgeeti" , 
"lolona" , 
"lopamudra" , 
"lukochuri" , 
"lyrics" , 
"mitra" , 
"mukherjee" , 
"machhi" , 
"madan" , 
"madhabi" , 
"madhobi" , 
"madhur" , 
"mahabhage" , 
"mahadev" , 
"mahalaya" , 
"mahanayika" , 
"maharashtra" , 
"mahashivaratri" , 
"mahira" , 
"mahmood" , 
"majhare" , 
"majhi" , 
"makha" , 
"malik" , 
"mallick" , 
"mallorca" , 
"mamata" , 
"manabendra" , 
"mandira" , 
"mangal" , 
"mangeshkar" , 
"manisha" , 
"manna" , 
"manohar" , 
"manomay" , 
"markets" , 
"martyred" , 
"martyrs" , 
"mashup" , 
"masood" , 
"massive" , 
"matai" , 
"mataram" , 
"matim" , 
"maulana" , 
"mayabi" , 
"mayurkanthi" , 
"mazhar" , 
"mazood" , 
"mazumder" , 
"medalist" , 
"media" , 
"megha" , 
"meghe" , 
"megher" , 
"mehbooba" , 
"mehreen" , 
"memon" , 
"memon's" , 
"memorable" , 
"milan" , 
"milane" , 
"milaner" , 
"millitant" , 
"minister" , 
"mintoo" , 
"minute" , 
"mishra" , 
"misti" , 
"mitali" , 
"mithye" , 
"mitra" , 
"modern" , 
"modhupey" , 
"modi's" , 
"molly" , 
"monbhari" , 
"monbitane" , 
"moner" , 
"money" , 
"monphande" , 
"month" , 
"moradabad" , 
"morechhi" , 
"mouse" , 
"mousumi" , 
"movie" , 
"movies" , 
"moyna" , 
"moynamati" , 
"moynar" , 
"moyuri" , 
"mrinmoyee" , 
"mufti" , 
"mujahideen" , 
"mukhapadhyay" , 
"mukherjea" , 
"mukherjee" , 
"mukherji" , 
"mukhopadhyay" , 
"mukunda" , 
"multimedia" , 
"mumbai" , 
"munish" , 
"muqabla" , 
"murali" , 
"mushkil" , 
"music" , 
"musical" , 
"musician" , 
"muzaffarabad" , 
"muzaffarnagar" , 
"nabard" , 
"noyon" , 
"naame" , 
"nabanidas" , 
"nabodurga" , 
"nache" , 
"nachiketa" , 
"nagar" , 
"nagarbasi" , 
"nagare" , 
"naghma" , 
"naiko" , 
"naiya" , 
"najeeb" , 
"nanadire" , 
"nandan" , 
"nandi" , 
"naoer" , 
"narayan" , 
"narenda" , 
"narendra" , 
"narmada" , 
"national" , 
"nations" , 
"natok" , 
"natun" , 
"naved" , 
"nawaz" , 
"nayan" , 
"nayane" , 
"nayar" , 
"nayikar" , 
"nazrul" , 
"neelimay" , 
"neerabe" , 
"neeti" , 
"nesha" , 
"nidhi" , 
"nidhu" , 
"nifty" , 
"nijhum" , 
"nilekani" , 
"nilkamal" , 
"nilkantha" , 
"niralay" , 
"niranjan" , 
"nirjan" , 
"nirmala" , 
"nishiraat" , 
"nitin" , 
"nitya" , 
"nonstop" , 
"north" , 
"notes" , 
"notest" , 
"notification" , 
"number" , 
"nupur" , 
"nursery" , 
"nusrat" , 
"odd-even" , 
"officers'" , 
"official" , 
"officials" , 
"onkar" , 
"original" , 
"pakhi" , 
"pathankot" , 
"premer" , 
"pagal" , 
"pagol" , 
"pakhi" , 
"pakhira" , 
"pakistan" , 
"pakistani" , 
"palligeeti" , 
"palma" , 
"palta" , 
"pannalal" , 
"pantha" , 
"paoya" , 
"parali" , 
"parechhe" , 
"parle" , 
"parliament" , 
"parody" , 
"parrikar" , 
"party" , 
"parvez" , 
"passionate" , 
"patay" , 
"patel" , 
"pathankot" , 
"pathe" , 
"pather" , 
"pathor" , 
"paytm" , 
"payment" , 
"payra" , 
"paytm" , 
"penalty" , 
"people" , 
"pepper" , 
"performance" , 
"perry" , 
"person" , 
"personality" , 
"peshay" , 
"petkati" , 
"phire" , 
"phool" , 
"phuler" , 
"phutechhe" , 
"pichhu" , 
"pictures" , 
"pilibhit" , 
"pintoo" , 
"pohay" , 
"polka" , 
"polli" , 
"polls" , 
"popular" , 
"populor" , 
"prabhu" , 
"pradesh" , 
"prakash" , 
"pramod" , 
"pranab" , 
"pranay" , 
"prantarer" , 
"prasenjit" , 
"prashna" , 
"pratapgarh" , 
"pratham" , 
"pratibaad" , 
"pratip" , 
"president" , 
"prime" , 
"pritam" , 
"prithibi" , 
"priya" , 
"priye" , 
"priyotamo" , 
"profession" , 
"profit" , 
"program" , 
"project" , 
"property" , 
"prosenjit" , 
"pujari" , 
"pujor" , 
"pulak" , 
"punjab" , 
"purnadas" , 
"purnimari" , 
"puthiya" , 
"putul" , 
"refilling" , 
"raabta" , 
"raate" , 
"raatein" , 
"raatey" , 
"rabbikin" , 
"rabindra" , 
"rabindranath" , 
"radhashyam" , 
"radio" , 
"raghav" , 
"raheel" , 
"rahul" , 
"raids" , 
"rajar" , 
"rajasthan" , 
"rajat" , 
"rajeev" , 
"rajesh" , 
"rajnath" , 
"rajnish" , 
"rakhbo" , 
"rakhi" , 
"rally" , 
"ramkanai" , 
"ramkrishna" , 
"ramkumar" , 
"ramnidhi" , 
"ranbir" , 
"ranga" , 
"rangers" , 
"rangmashal" , 
"ranjana" , 
"rashtriya" , 
"rastay" , 
"ratan" , 
"rater" , 
"ravish" , 
"razdan" , 
"ready" , 
"record" , 
"recording" , 
"records" , 
"reddy" , 
"reddy's" , 
"refuses" , 
"regiment" , 
"rekhe" , 
"relations" , 
"remix" , 
"reserve" , 
"revenue" , 
"rhymes" , 
"rickshawala" , 
"ridoy" , 
"rifles" , 
"right" , 
"riots" , 
"rituparna" , 
"roder" , 
"romantic" , 
"rudra" , 
"rules" , 
"rupankar" , 
"rupee" , 
"ruper" , 
"rural" , 
"russia" , 
"shadhi" , 
"shakti" , 
"shyamal" , 
"saadher" , 
"sabnavis" , 
"sabyasachi" , 
"sadhana" , 
"saeed" , 
"sagar" , 
"sahar" , 
"saikat" , 
"sajalpurer" , 
"sakale" , 
"sakhi" , 
"salil" , 
"salman" , 
"salwinder" , 
"samadhi" , 
"samay" , 
"samuel" , 
"sandhaye" , 
"sandhya" , 
"sandhyay" , 
"sangeet" , 
"sangi" , 
"sangsare" , 
"sankaram" , 
"sansani" , 
"sanyal" , 
"saraswati" , 
"sargam" , 
"sartaj" , 
"sarthak" , 
"satinath" , 
"saurabh" , 
"savvy" , 
"sayantika" , 
"scrapped" , 
"sector" , 
"security" , 
"sengupta" , 
"sense" , 
"september" , 
"shaan" , 
"shada" , 
"shamne" , 
"shaon" , 
"shapat" , 
"sharif" , 
"shark" , 
"sharma" , 
"shashi" , 
"shashurbari" , 
"shatil" , 
"shaurya" , 
"shaykh" , 
"shemaroo" , 
"shesh" , 
"shilpa" , 
"shiva" , 
"shivam" , 
"shivastotoram" , 
"shivastuti" , 
"shivnamabalyashtakam" , 
"shivpratahsmaranstotram" , 
"shivstotram" , 
"shiyarer" , 
"shona" , 
"shono" , 
"shorolipi" , 
"shortage" , 
"shrabon" , 
"shree" , 
"shreya" , 
"shricharan" , 
"shudhao" , 
"shudhu" , 
"shundori" , 
"shunechhi" , 
"shuno" , 
"shunona" , 
"shunya" , 
"shwashur" , 
"shyam" , 
"shyamal" , 
"sindhu" , 
"singer" , 
"singh" , 
"sishya" , 
"siyaah" , 
"small" , 
"sneho" , 
"sobai" , 
"social" , 
"soham" , 
"sohom" , 
"soldiers" , 
"sonam" , 
"sonar" , 
"sonaton" , 
"soneete" , 
"songh" , 
"songs" , 
"sonia" , 
"sorshe" , 
"soulful" , 
"sources" , 
"south" , 
"sowing" , 
"special" , 
"squad" , 
"srabonty" , 
"srikanto" , 
"srinagar" , 
"srishti" , 
"srivastav" , 
"srodhanjoli" , 
"stall" , 
"state" , 
"station" , 
"stops" , 
"stotra" , 
"strike" , 
"studio" , 
"subhash" , 
"subhashree" , 
"subho" , 
"subramanian" , 
"suchitra" , 
"sudhin" , 
"sudhir" , 
"sudhu" , 
"sujan" , 
"sukher" , 
"suman" , 
"sumaner" , 
"sundar" , 
"sundari" , 
"sunday" , 
"sundoira" , 
"super" , 
"superfast" , 
"superhit" , 
"superstar" , 
"supreme" , 
"suren" , 
"surey" , 
"surgical" , 
"surja" , 
"surjo" , 
"surprise" , 
"sushma" , 
"sutre" , 
"swamy" , 
"swapan" , 
"swapancharini" , 
"swapna" , 
"swapna-surabhi" , 
"swapno" , 
"swaraj" , 
"swaraj's" , 
"swarnali" , 
"t-series" , 
"terror" , 
"tagore" , 
"tajikistan" , 
"tajmahal" , 
"takhon" , 
"talat" , 
"talay" , 
"talks" , 
"tamil" , 
"tanjina" , 
"tapas" , 
"tappa" , 
"tarader" , 
"tarango" , 
"tarate" , 
"teaser" , 
"telangana" , 
"telugu" , 
"terminals" , 
"terror" , 
"terrorism" , 
"terrorist" , 
"terrorists" , 
"thakbo" , 
"thaki" , 
"thako" , 
"thalaimurai" , 
"thanthi" , 
"tharoor" , 
"theke" , 
"theme" , 
"thinking" , 
"tiger" , 
"tithi" , 
"today" , 
"tokio" , 
"tokyo" , 
"tollywood" , 
"tomaake" , 
"tomader" , 
"tomake" , 
"tomar" , 
"tomare" , 
"tomay" , 
"touts" , 
"traders" , 
"traditional" , 
"traffic" , 
"transaction" , 
"transport" , 
"truth" , 
"tumar" , 
"ujjwal" , 
"ullase" , 
"uncensored" , 
"unforgettable" , 
"united" , 
"unkijhuki" , 
"upakule" , 
"urjit" , 
"uthiya" , 
"utpala" , 
"uttam" , 
"uttar" , 
"uttarakhand" , 
"vardaat" , 
"video" , 
"vande" , 
"vedsar" , 
"vellore" , 
"vendor" , 
"venkatesh" , 
"verma" , 
"version" , 
"vhati" , 
"video" , 
"videos" , 
"videsh" , 
"village" , 
"villagers" , 
"villages" , 
"vincent" , 
"vrindavan" , 
"wallet" , 
"wallets" , 
"watch" , 
"weddings" , 
"weekend" , 
"wendy" , 
"whats" , 
"winner" , 
"worker" , 
"workers" , 
"yadav" , 
"yagnik" , 
"yahoo" , 
"yakub" , 
"yamunabati" , 
"yatri" , 
"yogendra" , 
"youtube" , 
"zindabad" , 
"zombie" , 
"aajtak" , 
"aashiqui" , 
"absence" , 
"account" , 
"accounts" , 
"acharya" , 
"actor" , 
"adalat" , 
"advertisement" , 
"after" , 
"against" , 
"agni2" , 
"ahmed" , 
"airforce" , 
"airlift" , 
"airport" , 
"ajeet" , 
"akhno" , 
"akshay" , 
"album" , 
"albums" , 
"alert" , 
"alpana" , 
"alpona" , 
"america" , 
"ammer" , 
"amout" , 
"anadil" , 
"angry" , 
"ankhein" , 
"ankho" , 
"ankush" , 
"antony" , 
"anusheh" , 
"anutap" , 
"aparupa" , 
"appuseries" , 
"areas" , 
"arfin" , 
"arijit" , 
"armymen" , 
"arrest" , 
"arrested" , 
"ashbona" , 
"assaulted" , 
"assembly" , 
"atack" , 
"attack" , 
"attacked" , 
"attackers" , 
"attacks" , 
"awara" , 
"awareness" , 
"azhar" , 
"badass" , 
"bahudore" , 
"banashree" , 
"banashri" , 
"banasree" , 
"bandh" , 
"bandopadhyay" , 
"bandwala" , 
"banerjee" , 
"bangali" , 
"bangalore" , 
"bangla" , 
"banglades" , 
"bangladesh" , 
"bangladeshi" , 
"banglasongs" , 
"banglay" , 
"banking" , 
"banks" , 
"banned" , 
"bappi" , 
"barack" , 
"beginners" , 
"belaseshe" , 
"bench" , 
"benefits" , 
"bengal" , 
"bengali" , 
"bengaluru" , 
"benimadhab" , 
"bhadra" , 
"bhajans" , 
"bhajiyawala" , 
"bhalo" , 
"bharat" , 
"bhattacharya" , 
"bheegi" , 
"bhosle" , 
"bhowmick" , 
"bhudore" , 
"biography" , 
"birendra" , 
"birth" , 
"biswajeeta" , 
"biyer" , 
"black" , 
"blackmoney" , 
"blasts" , 
"board" , 
"bollywood" , 
"bolte" , 
"bongo" , 
"bonosree" , 
"bonosri" , 
"booths" , 
"border" , 
"bramhani" , 
"brave" , 
"bravery" , 
"breach" , 
"breaking" , 
"briddhashram" , 
"brigade" , 
"brishti" , 
"buddy" , 
"bujhini" , 
"bulandshahr" , 
"bulletin" , 
"bulletins" , 
"burman" , 
"business" , 
"cabinet" , 
"cactus" , 
"cards" , 
"cashless" , 
"cassettes" , 
"centre" , 
"chandigarh" , 
"change" , 
"channel" , 
"charar" , 
"charge" , 
"charges" , 
"chatterjee" , 
"check" , 
"chelani" , 
"chere" , 
"chief" , 
"child" , 
"children" , 
"childrens" , 
"chirodiner" , 
"choker" , 
"cholona" , 
"cinema" , 
"citizens" , 
"cloth" , 
"collection" , 
"comedy" , 
"commandos" , 
"commit" , 
"congress" , 
"constitutional" , 
"control" , 
"conversion" , 
"convert" , 
"cooperative" , 
"corporate" , 
"corrupt" , 
"corruption" , 
"counter-terrorism" , 
"court" , 
"credit" , 
"cricket" , 
"crime" , 
"crisis" , 
"crore" , 
"crunch" , 
"curfew" , 
"currency" , 
"curreny" , 
"customers" , 
"daily" , 
"dalia" , 
"dance" , 
"dasgupta" , 
"database" , 
"daughter" , 
"dawood" , 
"ddnews" , 
"ddyoutube" , 
"death" , 
"deaths" , 
"debate" , 
"debit" , 
"debona" , 
"deewana" , 
"defence" , 
"degree" , 
"deity" , 
"delhi" , 
"demolished" , 
"demolition" , 
"demonetisation" , 
"demonetization" , 
"department" , 
"deposit" , 
"destroyed" , 
"detector" , 
"devotional" , 
"dewana" , 
"dewas" , 
"dhaka" , 
"dhasai" , 
"digi-dhan" , 
"digital" , 
"diplomacy" , 
"discount" , 
"discussion" , 
"disruption" , 
"divine" , 
"diwana" , 
"donation" , 
"doval" , 
"download.com" , 
"drill" , 
"drive" , 
"driver" , 
"dugga" , 
"durga" , 
"dusmanta" , 
"e-wallets" , 
"earnings" , 
"economy" , 
"education" , 
"effect" , 
"effects" , 
"efforts" , 
"elections" , 
"emotional" , 
"employee" , 
"employees" , 
"engineers" , 
"english" , 
"enter" , 
"entered" , 
"entertainment" , 
"eskay" , 
"estate" , 
"evasion" , 
"event" , 
"evergreen" , 
"exchange" , 
"exclusive" , 
"express" , 
"fakir" , 
"families" , 
"family" , 
"farmers" , 
"fawad" , 
"fidayeen" , 
"fight" , 
"films" , 
"finance" , 
"firingee" , 
"floods" , 
"force" , 
"fortune" , 
"fraudulent" , 
"friends" , 
"funny" , 
"galliyan" , 
"gandhi" , 
"ganjawala" , 
"gannguli" , 
"gathani" , 
"geeti" , 
"gelam" , 
"genuine" , 
"ghazipur" , 
"ghoshal" , 
"global" , 
"goodwill" , 
"google" , 
"gopal" , 
"govenment" , 
"government" , 
"government's" , 
"grahak" , 
"graphics" , 
"greenfield" , 
"ground" , 
"growth" , 
"guitar" , 
"gujarat" , 
"gurdaspur" , 
"gurudev" , 
"haldar" , 
"halder" , 
"happy" , 
"haqikat" , 
"haripada" , 
"haripodo" , 
"hazra" , 
"headlines" , 
"headquarter" , 
"headquarters" , 
"heart" , 
"heartless" , 
"heckled" , 
"heeraben" , 
"hemanata" , 
"hemanta" , 
"highway" , 
"highways" , 
"hindi" , 
"hoarders" , 
"holders" , 
"holud" , 
"homes" , 
"hospital" , 
"hotam" , 
"house" , 
"hoyechilo" , 
"humour" , 
"hyderabad" , 
"ibrahim" , 
"idiot" , 
"illegal" , 
"impact" , 
"imran" , 
"income" , 
"indelible" , 
"independence" , 
"india" , 
"indian" , 
"indiatv" , 
"indraadip" , 
"indrani" , 
"infiltration" , 
"inflation" , 
"insufficient" , 
"interest" , 
"international" , 
"internet" , 
"interview" , 
"interviews" , 
"investigation" , 
"involved" , 
"islam" , 
"islamic" , 
"jaaneman" , 
"jahan" , 
"jaish" , 
"jaish-e-mohammad" , 
"jammu" , 
"janardhana" , 
"jawan" , 
"jawans" , 
"jewellery" , 
"jewllery" , 
"jokes" , 
"jolly" , 
"jukebox" , 
"jwale" , 
"kabir" , 
"kabira" , 
"kanheya" , 
"kapil" , 
"karnataka" , 
"kashmir" , 
"khabarein" , 
"khiladi" , 
"kholo" , 
"kidnap" , 
"killed" , 
"kinagi" , 
"kindergarten" , 
"kohli" , 
"kolkata" , 
"kotha" , 
"krishna" , 
"kumar" , 
"kunal" , 
"kushinagar" , 
"lahiri" , 
"lalan" , 
"latest" , 
"laundering" , 
"leader" , 
"leaders" , 
"lesson" , 
"limit" , 
"locker" , 
"lolona" , 
"lopamudra" , 
"lucky" , 
"lullaby" , 
"magazine" , 
"mahajan" , 
"mahakali" , 
"mahalaya" , 
"mahanayak" , 
"maharashtra" , 
"mahisashur" , 
"mahishasura" , 
"mahiya" , 
"mahmudul" , 
"majhare" , 
"majumder" , 
"malda" , 
"malik" , 
"mallick" , 
"mallik" , 
"mamata" , 
"mangal" , 
"mangeshkar" , 
"manna" , 
"manohar" , 
"mantra" , 
"mardini" , 
"markets" , 
"marriage" , 
"marriages" , 
"martyr" , 
"masala" , 
"masood" , 
"massive" , 
"masterclass" , 
"masti" , 
"mayawati" , 
"mayur" , 
"media" , 
"meeting" , 
"militants" , 
"minister" , 
"miniter" , 
"mintoo" , 
"minutes" , 
"mishra" , 
"mission" , 
"mitra" , 
"mobile" , 
"moder" , 
"modern" , 
"mohammad" , 
"moina" , 
"molana" , 
"moner" , 
"monetary" , 
"money" , 
"morning" , 
"mother" , 
"movie" , 
"movies" , 
"mukherjee" , 
"mukhopadhyay" , 
"muktadir" , 
"mumbai" , 
"muqtadir" , 
"musharraf" , 
"mushkil" , 
"music" , 
"muskurane" , 
"nachiketa" , 
"naidu" , 
"najeeb" , 
"nancy" , 
"narayan" , 
"narendra" , 
"national" , 
"natok" , 
"naurate" , 
"navaratri" , 
"navel" , 
"navratri" , 
"nazrul" , 
"nesha" , 
"network" , 
"nilakshi" , 
"nirmala" , 
"nitish" , 
"niyoti" , 
"nochiketa" , 
"noida" , 
"notes" , 
"november" , 
"number" , 
"nupur" , 
"nursery" , 
"nusrat" , 
"obama" , 
"obhabe" , 
"odd-even" , 
"officer" , 
"official" , 
"online" , 
"onlytechtips" , 
"opening" , 
"operation" , 
"operations" , 
"opposition" , 
"original" , 
"outside" , 
"pagol" , 
"pakhi" , 
"pakistan" , 
"pakistani" , 
"paksitan" , 
"panna" , 
"pannalal" , 
"parivartan" , 
"parliament" , 
"parliamentary" , 
"parrikar" , 
"party" , 
"parvesh" , 
"patekar" , 
"patel" , 
"pathankot" , 
"pathikrit" , 
"pathnakot" , 
"patiala" , 
"patriotic" , 
"payment" , 
"payments" , 
"peace" , 
"penalty" , 
"performance" , 
"person" , 
"pervez" , 
"petrol" , 
"phirbe" , 
"phool" , 
"picture" , 
"pintoo" , 
"platic" , 
"pocket" , 
"poems" , 
"point" , 
"police" , 
"policy" , 
"political" , 
"politics" , 
"polls" , 
"pollution" , 
"polygraph" , 
"pooja" , 
"popular" , 
"porle" , 
"porshi" , 
"pradesh" , 
"prasenjit" , 
"pratapgarhi" , 
"preme" , 
"preschool" , 
"president" , 
"press" , 
"prices" , 
"priests" , 
"prime" , 
"printing" , 
"pritam" , 
"pritha" , 
"private" , 
"probe" , 
"project" , 
"promote" , 
"proofs" , 
"properties" , 
"property" , 
"prosenjit" , 
"prosperity" , 
"protest" , 
"protests" , 
"pumps" , 
"punjab" , 
"punjabi" , 
"puthiya" , 
"putimaas" , 
"queue" , 
"queues" , 
"queuing" , 
"raabta" , 
"rabindra" , 
"rabindranath" , 
"rabindrasangeet" , 
"rahul" , 
"raids" , 
"rajat" , 
"rajesh" , 
"rajiv" , 
"rajnath" , 
"rajya" , 
"rakhbo" , 
"rally" , 
"ranbir" , 
"randeep" , 
"rangmashal" , 
"rappers" , 
"rates" , 
"ravish" , 
"reality" , 
"realty" , 
"recovered" , 
"reddy" , 
"relations" , 
"reloading" , 
"remix" , 
"report" , 
"reserve" , 
"revenge" , 
"rewards" , 
"rhyme" , 
"rhymes" , 
"riots" , 
"rituparna" , 
"robindro" , 
"rohim" , 
"romantic" , 
"ruees" , 
"rules" , 
"rumey" , 
"rupankar" , 
"rupban" , 
"rupee" , 
"rupees" , 
"rural" , 
"russia" , 
"sabha" , 
"sadhana" , 
"sagarika" , 
"salary" , 
"sales" , 
"salman" , 
"salmon" , 
"salwinder" , 
"samajwadi" , 
"sandhya" , 
"sangeet" , 
"sargan" , 
"sarkar" , 
"sartaj" , 
"savvy" , 
"sayantika" , 
"scams" , 
"scene" , 
"scheme" , 
"school" , 
"season" , 
"sector" , 
"security" , 
"seize" , 
"seized" , 
"seller" , 
"sengupta" , 
"senior" , 
"sensex" , 
"serial" , 
"series" , 
"session" , 
"shaan" , 
"shaktikanta" , 
"shamli" , 
"sharif" , 
"sharma" , 
"shiboprosad" , 
"shilpa" , 
"shiva" , 
"shlok" , 
"shooting" , 
"short" , 
"shortage" , 
"showroom" , 
"shree" , 
"shreya" , 
"shubhamita" , 
"shyama" , 
"shyamasangeet" , 
"sidhu" , 
"silver" , 
"simplicity" , 
"singh" , 
"sings" , 
"sister" , 
"slammed" , 
"slams" , 
"soham" , 
"soldier" , 
"sonar" , 
"songit" , 
"songs" , 
"special" , 
"speech" , 
"spiritual" , 
"sponsored" , 
"sports" , 
"squad" , 
"srabanti" , 
"srabonti" , 
"srikanta" , 
"srikanto" , 
"srodhanjoli" , 
"station" , 
"stock" , 
"stocks" , 
"stories" , 
"strike" , 
"strikes" , 
"student" , 
"studio" , 
"subhamita" , 
"suchitra" , 
"sudhu" , 
"suffer" , 
"suicide" , 
"suman" , 
"superfast" , 
"superhit" , 
"superhits" , 
"supreme" , 
"surat" , 
"surgical" , 
"surjewala" , 
"survey" , 
"suspect" , 
"suspected" , 
"suspicious" , 
"swarnali" , 
"system" , 
"tagore" , 
"takes" , 
"talks" , 
"tamil" , 
"tanzil" , 
"tarate" , 
"technical" , 
"telugu" , 
"temples" , 
"terorr" , 
"territory" , 
"terroists" , 
"terror" , 
"terrorism" , 
"terrorist" , 
"terrorists" , 
"thakbo" , 
"thakur" , 
"thalaimurai" , 
"thane" , 
"thebrownfish" , 
"through" , 
"title" , 
"today" , 
"today's" , 
"tomar" , 
"trade" , 
"trailer" , 
"trained" , 
"transactions" , 
"treatment" , 
"trial" , 
"tribute" , 
"troops" , 
"troyee" , 
"uniform" , 
"unknown" , 
"unplugged" , 
"update" , 
"updates" , 
"urjit" , 
"usage" , 
"uttam" , 
"uttar" , 
"valentine" , 
"vellore" , 
"venkaiah" , 
"venkatesh" , 
"verma" , 
"video" , 
"videos" , 
"village" , 
"villagers" , 
"villages" , 
"villain" , 
"vyapar" , 
"vyapari" , 
"waits" , 
"wajah" , 
"wallet" , 
"wanted" , 
"weddding" , 
"wedding" , 
"weddings" , 
"white" , 
"winter" , 
"withdraw" , 
"withdrawal" , 
"withdrawl" , 
"workers" , 
"www.bangla" , 
"yaariyan" , 
"yagnik" , 
"yakeen" , 
"yatra" , 
"yojana" , 
"youth" , 
"youtube" , 
"youtuber" , 
"yt:stretch=16:9" , 
"zeenews" , 
"znews"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>
<div class="header">
		   <div class="col-sm-8 header-left">
					 <div class="logo">
						<a href="/home"><img src="../static/web/images/logo.png" alt=""/></a>
					 </div>

            <h2 style="color:#E94E38">
            <b><i>One place to find them all......</i></b>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <i class="fa fa-microphone" aria-hidden="true"></i>
            <i class="fa fa-camera" aria-hidden="true"></i>
            </h2>

						<!--search-scripts-->
						<script src="../static/web/js/classie.js"></script>
						<script src="../static/web/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!--//search-scripts-->						
	    		    <div class="clearfix"></div>
	    	    </div>
	    	    <!--Login Pop Up-->
	            <div class="col-sm-2 header_right">
	    		      <div class="loginContainer"><a href="#" class="loginButton loginButton2"><img src="../static/web/images/login.png"><span>Login</span></a>
						    <div class="loginBox loginBox2">                
						        <form class="loginForm loginForm2" role="form" action="/auth" method="post">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="email">Username</label>
						                          <input type="username" name="username" id="username" placeholder="Tom" required>
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">Password</label>
						                            <input type="password" name="password" id="password" placeholder="xxyyzz" required>
						                     </fieldset>
						                    <input type="submit" id="login" value="Sign in">
						                	<!-- <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label> -->
						            	</fieldset>
						                 <!-- <span><a href="#">Forgot your password?</a></span> -->
							      </form>
				              </div>
			             </div>
		                 <div class="clearfix"></div>
	                 </div>
	                 <!--Sign up pop up-->
	            <div class="col-sm-2 header_right">
	    		      <div class="loginContainer"><a href="#" class="loginButton loginButton1"><img src="../static/web/images/login.png"><span>SignUp</span></a>
						    <div class="loginBox loginBox1">                
						        <form class="loginForm loginForm1" role="form" action="/register" method="post">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="email">Choose a username</label>
						                          <input type="username" name="username" id="username" placeholder="Tommy" required>
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">Set Password</label>
						                            <input type="password" name="password" id="password" placeholder="xxyyzz" required>
						                     </fieldset>
						                    <input type="submit" id="login" value="Join Us">
						                	<!-- <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label> -->
						            	</fieldset>
						                 <!-- <span><a href="#">Forgot your password?</a></span> -->
							    </form>
				              </div>
			             </div>
		                 <div class="clearfix"></div>
	                 </div>
	                <div class="clearfix"></div>
    </div>

    <!--header ends here ^-->

    <div class="banner" >
   	  <div class="container_wrap">
   		<h1>What are you looking for?</h1>
   	       

		    <form action="http://localhost:8080/search" method="post">
				<input id="tags" type="text" name="nm" placeholder="waiting..." value="start typing here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'start typing here...';}">
			    <div class="contact_btn">
	               <label class="btn1 btn-2 btn-2g">
	              	<input name="submit" type="submit" id="submit" value="Find Videos !!!">
	               </label>
	            </div>
			</form> 

<!--Deleted scenes-->
   		    <div class="clearfix"></div>
         </div>
    </div>
      
      <!--The top menu above videos-->
      <div class="content_top">
          <div class="container">
              <div class="col-md-6 bottom_nav" style="padding-right: 5px">
                <div class="content_menu">
                  <ul>
                  <h4>
                    
                    <li class="active"><a href="/trend"><i class="fa fa-fire" aria-hidden="true" style="color: black"></i> Trending</a></li> 
                    <li class="active"><a href="/fav"><i class="fa fa-gratipay" aria-hidden="true" style="color: black"></i>
 Favourite</a></li> 
                    <li class="active"><a href="/clicks"><i class="fa fa-history" aria-hidden="true" style="color: black"></i>
 History</a></li>
                    <li class="active"><a href="/sports"><i class="fa fa-futbol-o" aria-hidden="true" style="color: black"></i>
 Sports</a></li> 
                    <li class="active"><a href="/news"><i class="fa fa-newspaper-o" aria-hidden="true" style="color: black"></i>
 News</a></li> 
                    
                  </h4> 
                  </ul>
               </div>
              </div>
              <div class="col-md-6 bottom_nav">
                <div class="content_menu">
                  <ul>
                  <h3>
                    <li class="active"><a href="#">Showing results for: <b><i> {{answer}} </i> </b></a></li>
                    </h3> 
                  </ul>
                </div>
              </div>
          </div>  
      </div>       

<!--Start editing here-->
{% if videoid %}
<div class="content_middle">
  <div class="container">
    <div class="content_middle_box">
      <div class="top_grid">   
         <iframe width="1150" height="600"
                  src="https://www.youtube.com/embed/{{videoid.videoInfo.id}}">
         </iframe> 
      </div>
      <div class="inner_wrap">
          <h2><b> {{ videoid.videoInfo.snippet.title }} </b></h2>
          <h4>
            <ul class="star1" id="menu">
            {% for t in videoid.videoInfo.snippet.tags %}
  
            <li style="padding-bottom: 5px; padding-right: 2px">
            <a class="btn btn-danger" href="http://localhost:8080/success/{{t}}" ><i class="fa fa-tags" aria-hidden="true" style="color: #FFFFFF"></i>
 {{t}}</a> 
            </li>
  
            {% endfor %}
                    <h4 class="blue"> Uploaded on : {{ videoid.videoInfo.snippet.publishedAt }} </h4>
                    <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.likeCount }} 
                     </li>
                    <li>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.dislikeCount }} 
                    </li>
                    <li>
                       <i class="fa fa-comment" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.commentCount }}
                    </li>
                    <li>
                     <i class="fa fa-eye" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.viewCount }}
                    </li>
                    <li>
                     <i class="fa fa-star" aria-hidden="true"></i>: {{ videoid.videoInfo.statistics.favoriteCount }}
                    </li>
                  </ul>
          </h4>
      </div>    
    </div>
  </div>
</div>
{%endif%}
   
<!--Middle portion-->
   <div class="content_middle">
   	  <div class="container" style="background-color: #E94E38">
   	    <div class="content_middle_box">
          <div class="top_grid">
        
        
               {% if name %}
               {% for obj in name %}
               <div class="col-md-3" >
               <div class="grid1">

                {% if loop.index0 == 0 %}
       <!--Use this to break line-->
       <h3>YoYoTube Suggestion</h3>
            {% endif %}

               
                  <div class="view view-first">
                  <div class="index_img2"><img src= {{obj.videoInfo.snippet.thumbnails.high.url}} class="img-responsive" alt=""  style="width:260px;height:180px;" /></div>
                    <div class="mask">
                        <div class="info"><i class="search"> </i>
                           <a href="#" data-toggle="modal" data-target="#desc"> Show More</a>
                        </div>
                         <ul class="mask_img">
                        </ul> 
                      </div>
                  </div> 
               <div class="inner_wrap">
                  <h3><a href=http://localhost:8080/video/{{obj.videoInfo.id}}> {{ obj.videoInfo.snippet.title }} </a></h3>
                  <ul class="star1" id="menu">
                    <h4 class="blue">Statistics</h4>
                    <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.likeCount }} 
                     </li>
                    <li>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.dislikeCount }} 
                    </li>
                    <li>
                       <i class="fa fa-comment" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.commentCount }}
                    </li>
                    <li>
                     <i class="fa fa-eye" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.viewCount }}
                    </li>
                    <li>
                     <i class="fa fa-star" aria-hidden="true"></i>: {{ obj.videoInfo.statistics.favoriteCount }}
                    </li>
                  </ul>
                </div>
               </div>
               </div>

            <!--Modal body-->
         <div id="desc" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">   
                <div class="modal-header">
                    <h2><center>Detailed Description</center></h2>
                </div>
                    <div class="modal-body">
                            <div class="col-sm-12">
                                <p> {{ obj.videoInfo.snippet.localized.description }} </p>
                            </div>              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg pull-left" data-dismiss="modal">Cancel</button>
                    </div>
            

            </div>
         </div>
       </div>
       {% if loop.index0 % 4 == 3 %}
       <!--Use this to break line-->
       <div class="clearfix"></div>
            </div>
            {% endif %}
       {% endfor %}
       {% endif %}


   			<!-- <div class="col-md-3">
   			  <div class="grid1">
   				<div class="view view-first">
                  <div class="index_img2"><img src="../static/web/images/pic2.jpg" class="img-responsive" alt=""/></div>
   				     <div class="mask">
                        <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                        	<li class="star"><img src="../static/web/images/star.png" alt=""/></li>
                        	<li class="set"><img src="../static/web/images/set.png" alt=""/></li>
                        	<div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home2"> </i>
   				 <div class="inner_wrap">
   				 	<h3>2 bedroom house for rent in Dubai</h3>
   				 	<ul class="star1">
   				 	  <h4 class="blue">Vision Agency</h4>
   				 	  <li><a href="#"> <img src="../static/web/images/star2.png" alt="">(136)</a></li>
   				 	</ul>
   				 </div>
   			   </div>
   			</div> -->


   			
   		
   			<div class="clearfix"></div>
   			</div>
   		  </div>
   		  
   		  </div>
   	  </div>


   
   </div>



   <div class="footer">
   	<div class="container">

<!--    	 <div class="footer_top">
   	   <h3>Subscribe to our newsletter</h3>
   	   <form>
		<span>
			<i><img src="images/mail.png" alt=""></i>
		    <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
		    <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
		    <div class="clearfix"> </div>
		</span>			 	    
	   </form>
	  </div> -->

	  <div class="footer_grids">
	     <div class="footer-grid">
			<h4>Made by:</h4>
			<ul class="list1">
				<li><a href="https://www.facebook.com/rajan.garg.14">Rajan Garg</a></li>
				<li><a href="https://www.facebook.com/Rajshekhar1332">Raj Shekhar</a></li>
				<li><a href="https://www.facebook.com/RiiitviiikRAWat">Ritvik Rawat</a></li>
				<li><a href="#">Chinangshuk Roy</a></li>
			</ul>
		  </div>
		  
		  <div class="footer-grid last_grid">
			<h4>Follow Us</h4>
			<ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
			  <li><a href=""> <i class="fb"> </i> </a></li>
			  <li><a href=""><i class="tw"> </i> </a></li>
			  <li><a href=""><i class="google"> </i> </a></li>
			  <li><a href=""><i class="u_tube"> </i> </a></li>
		 	</ul>
		 	
		  </div>
		  <div class="clearfix"> </div>
	   </div>
      </div>
   </div>
</body>
</html>		

<!-- 

   <td bgcolor="#eee" width="75%" height="600">
        {% if videoid %}
         <img src= {{videoid.videoInfo.snippet.thumbnails.high.url}} style="width:1200px;height:600px;">
         {%endif%}   
   </td>


   -->